html,
body,
div#react-target,
div#wrapper {
  height: 100vh;
  /*overflow: hidden;*/ /* Does this affect full-screen on Android? */
}

:root {
  --fillColor:       #fff;
  --strokeColor:     #000;
  --menuBackground:  rgba(255,255,255,0.9);
  --menuFontSize:    4vmin;
  --menuColor:       #AF3632;
  --menuActiveColor: #fff;
  --menuActiveBg:    #AF3632;
  --menuHover:       rgba(175, 54, 50, 0.5);
  --menuItemPadding: 0.25em;

  --linkColor:       #AF3632;
  --linkHover:       #C33C38;
  --linkActive:      #D2160F;
  --linkVisited:     #9B302C;
}

div#react-target{
  overflow: hidden; /* Needed to place drag game images correctly */

  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  color: var(--linkColor);
}

a:visited {
  color: var(--linkVisited);
}

a:hover {
  color: var(--linkHover);
}

a:active {
  color: var(--linkActive);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.can-select{
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text;   /* Safari */
  -khtml-user-select: text;    /* Konqueror HTML */
  -moz-user-select: text;      /* Firefox */
  -ms-user-select: text;       /* Internet Explorer/Edge */
  user-select: text;
}